body {
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  padding: 20px;
}

.tabbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.tabbar button {
  padding: 10px;
  border: none;
  background: #1e1e1e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.tabContent {
  display: block;
}

.box {
  background: #111;
  padding: 10px;
  height: 150px;
  overflow-y: scroll;
  border-radius: 10px;
  margin-top: 10px;
}